body{
    background-color: dimgray;
    margin: 0px;
}

a{
    color: aqua;
}
a:visited{
    color: aquamarine;
}

strong.error{
    color: red;
    background-color: yellow;
    font-size: 2em;
    
    font-family: system-ui, fantasy, sherif;
}

em.error{
    font-size: 1.3em;
    color: orangered;
     font-family: system-ui, fantasy, sherif;
}

 input, input:active, input:focus{
        min-height: 2vh;
        
        font-size: 2em;
        
        color: white;
        background-color: teal;
    }